
<body class="contenedor-imagen">
    
    <h1>Spotify</h1>
    <form action="/artist-search" method="GET">
        <label for="artistName">Nombre del artista:</label>
        <input type="text" id="artistName" name="artistName">
        <button type="submit">Buscar</button>
    </form>
    </div>
<img src="/images/spotify-background.jpeg" alt="Spotify Party">

</body>